nav{
    width: 100%;
    position: sticky;
    top:0px;
    z-index: 1;
    grid-area: nav;
}



.menu{
    background-color: map-get($mainCol, primary);
    padding: 1%;
    border-bottom: 10px groove map-get($mainCol, secondary);
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    li{
        display: inline;
        a{
        color: map-get($mainCol, secondary);
        text-decoration: none;
        padding: 3% 15%;
        height: 25%;
        border-radius: 73px 73px 73px 73px;
        border: none;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 50%;
        transition: all .2s;

        &:hover{
            color: map-get($mainCol, darkerSecondary);
            background-color: map-get($mainCol, darkerPrimary);
        }
        
        &:active{
            background-color: map-get($mainCol, darkerSecondary);
            color: map-get($mainCol, darkerPrimary);
        }

        }
        
        .actual{
            color: map-get($mainCol, darkerSecondary);
            background-color: map-get($mainCol, darkerPrimary);
            border-bottom: 1px solid map-get($mainCol, darkerPrimary);
        }
    }
}

.dropdown-menu{
    background-color: map-get($mainCol, darkerPrimary);
    li{
        font-size: 70%;
    }
}

.btn-primary{
    background-color:map-get($mainCol, primary);
    border: none;
    border-radius: 50%;
    display: none;
    &:hover{
        color: map-get($mainCol, darkerSecondary);
        background-color: map-get($mainCol, darkerPrimary);
    }
}

.btn-sm{
    padding: 0%;
}

.btn{
    &:focus{
    box-shadow: none;
    color: map-get($mainCol, darkerSecondary);
    background-color: map-get($mainCol, darkerPrimary);
}
}

@media screen and (min-width: 768px){
    nav{
        width: 100%;
        position: sticky;
        top:0px;
        z-index: 1;
        grid-area: nav;
    }

    .menu{
        li{
            a{
                font-size: 100%;
            }
            .actual{
                border-bottom: 3px solid;
            }
        }
        
        .rightBorder{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    .btn-primary{
        display: inline-block;
    }
}